extends ../layout

block content
  h2 Eliminar Pedido
  form(method="POST", action=`/pedidos/eliminar/${pedido.id}`)
    button(type="submit", style="background-color: red; color: white;") Eliminar

  .card
    p
      strong ID:
      | #{pedido.id}

    p
      strong Fecha:
      | #{pedido.fecha}

    if pedido.cliente
      p
        strong Cliente:
        | #{pedido.cliente.nombre} #{pedido.cliente.apellido} (CUIT: #{pedido.cliente.cuit})

    p
      strong Estado:
      | #{pedido.estado}

    p
      strong Total:
      | $#{pedido.total}

    p(style="color: red; margin-top: 1rem;")
      strong ¿Está seguro que desea eliminar este pedido?

    a.btn(href="/pedidos/vista") Volver